.ControlPanel
	display: flex
	flex-direction: column
	width: 100%
	transition: all 0.5s ease


	// allows control panel to cover line colors
	div
		z-index: 1
		background-color: var(--bg-color)
		height: 100vh

	@media (max-width: 825px)
		position: absolute
		top: 0
		left: 0
		max-width: 25vw
		overflow: hidden

.CollapseButton
	visibility: visible
	transition: all 0.5s ease
	width: 100%
	background-color: var(--glass)
	border: 1px solid var(--alt-color)
	border-radius: 5px
	cursor: pointer

	&:hover
		background-color: var(--alt-color)
		color: var(--text-color)

	@media (max-width: 600px)
		position: absolute
		width: 20%
		z-index: 2

.Collapsed
	overflow: hidden
	height: 0
	width: 0
	visibility: hidden
