.SelectionList
	list-style-type: none
	overflow-y: scroll
	height: 90%
	width: 100%
	padding: 0

	li :not(:last-child)
		margin: 0
		padding: 0



.SidePanel
	width: 10%
	height: 95vh
	margin-right: 3%
	display: flex
	flex-direction: column


.SelectionButton
	width: 100%
	background-image: linear-gradient(45deg, var(--bg-color), var(--alt-color) 95%)
	color: var(--text-color)
	font-weight: bold
	cursor: pointer
	min-height: 2em

	&:hover, &.Active
		background-image: linear-gradient(45deg, var(--alt-color), var(--bg-color) 95%)
		color: var(--line-color-6)


